* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: 'Poppins', 'Helvetica Neue', Arial, sans-serif;
}

.company_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: invert();
}

video {
    position: relative;
    z-index: 0;
   
}

.nav_bar {
    height: 96px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 110px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    color: white;

}

.nav_item {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;

}

.nav_item a {
    text-decoration: none;
    color: white;
}

.item {

    font-weight: 600;
    font-size: 15px;
    /* color: white; */
    letter-spacing: 0.5px;
    font-family: 'Poppins', 'Helvetica Neue', Arial, sans-serif;
    padding-bottom: 4px;

}




.item:hover {
    text-decoration-thickness: px;
    border-bottom: 2px solid white;
}

.contact {
    height: 48px;
    width: 182px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    background-color: #4682f6;
    color: white;
    letter-spacing: 0.7px;
}


.go {

    height: 595px;
    width: 850px;
    margin: 57px;
    padding: 50px 0 120px;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    margin-left: 100px;
}

.go h2 {
    color: #fff;
    font-size: 53px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: -.02em;
    margin-top: 50px;

}

.go h4 {
    color: #fff;
    font-size: 27px;
    line-height: 1.6;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-top: 25px;

}


span {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 130px;
}


span p {
    color: white;
    font-size: 15px;
    letter-spacing: 1.5px;
}
