* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: 'Poppins', 'Helvetica Neue', Arial, sans-serif;
}

.company_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: invert();
}

video {
    position: relative;
    z-index: 0;
}

.nav_bar {
    height: 96px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 110px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    color: white;

}

.nav_item {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;

}

.nav_item a {
    text-decoration: none;
    color: white;
}

.item {

    font-weight: 600;
    font-size: 15px;
    /* color: white; */
    letter-spacing: 0.5px;
    font-family: 'Poppins', 'Helvetica Neue', Arial, sans-serif;
    padding-bottom: 4px;

}




.item:hover {
    text-decoration-thickness: px;
    border-bottom: 2px solid white;
}

.contact {
    height: 48px;
    width: 182px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    background-color: #4682f6;
    color: white;
    letter-spacing: 0.7px;
}


.go {

    height: 595px;
    width: 850px;
    margin: 57px;
    padding: 50px 0 120px;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    margin-left: 100px;
}

.go h2 {
    color: #fff;
    font-size: 53px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: -.02em;
    margin-top: 50px;

}

.go h4 {
    color: #fff;
    font-size: 27px;
    line-height: 1.6;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-top: 25px;

}


span {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 130px;
}


span p {
    color: white;
    font-size: 15px;
    letter-spacing: 1.5px;
}

.between-1 {

    height: 940px;
    width: 100%;
    padding: 80px 114px 48px 114px;
}

.discover {

    height: 72px;
    width: 587px;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.discover h1 {
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 500;
}

.part-1 {

    height: 698.48px;
    width: 1197px;
    display: flex;
    gap: 20px;
}

.studio {

    height: 698.48px;
    width: 586.5px;
}

.lift {

    height: 698.48px;
    width: 586.5px;
}


.forme_studio {

    height: 31.203px;
    width: 586.50px;
    margin-bottom: 16px;
}

.forme_studio h2 {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.photo-1 {

    height: 447.281px;
    width: 586.50px;
    margin-bottom: 24px;
}

.write-1 {

    height: 108px;
    width: 520px;
    margin-bottom: 32px;
    color: #666666;
    font-family: sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 350;
    line-height: 150%;
    letter-spacing: 0.8px;
}



.down-1 {

    height: 24px;
    width: 586.50px;
    margin-top: 16px;
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: sans-serif;
}

.down-1 p {
    color: #262626;
    font-size: 15px;
    letter-spacing: 1.5px;
}



.forme_lift {

    height: 31.203px;
    width: 586.50px;
    margin-bottom: 16px;
}

.forme_lift h2 {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.photo-2 {

    height: 447.281px;
    width: 586.50px;
    margin-bottom: 24px;

}

.write-2 {

    height: 108px;
    width: 520px;
    margin-bottom: 32px;
    color: #666666;
    font-family: sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 350;
    line-height: 150%;
    letter-spacing: 0.8px;
}




.down-2 {

    height: 24px;
    width: 586.50px;
    margin-top: 16px;
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: sans-serif;

}

.down-2 p {
    color: #262626;
    font-size: 15px;
    letter-spacing: 1.5px;
}

/* ---------------------------------------- */
.between-2 {
    /* border: 2px solid black; */
    height: 1790px;
    width: 1425px;
    padding: 96px 0;
    display: grid;
    place-content: center;

}

/* -------------------------------------------------------- */

.part-2 {
    /* border: 2px solid black; */
    height: 770px;
    width: 1197px;
    padding: 80px 0;
    display: flex;
    gap: 100px;
}

.photo-3 {

    height: 610px;
    width: 488px;
}

.write-3 {

    height: 610px;
    width: 605px;
}

.write-5 {

    height: 33px;
    width: 605px;
    margin-bottom: 16px;
}

.write-5 h2 {
    font-family: sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.6px;
    color: #666;


}

.fitness {
    height: 96px;
    width: 605px;
    margin-bottom: 24px;

}

.fitness h1 {
    font-family: sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -.8px;
    color: #262626;
}

.point-6 {

    height: 312px;
    width: 605px;
    margin: 10px 0;
    flex-wrap: wrap;
    display: flex;
}

.studio_details {
    border: 1px solid black;
    height: 64px;
    width: 213px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.studio_details p {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.3px;
}

.studio_details:hover {
    color: white;
    background-color: black;
    letter-spacing: 0.3px;
    transition: 0.5s ease;
}

.content_box {
    /* border: 2px solid black; */

    height: 90px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}

.content_box p {
    font-size: 18px;
    font-weight: 350;
    font-family: sans-serif;
    line-height: 150%;
    letter-spacing: 0.36px;
    color: #666;
    margin: 0;
    padding-left: 16px;
}

/* ------------------------------------------ */
.part-3 {

    height: 828px;
    width: 1197px;
    padding: 80px 0;
    display: flex;
    gap: 100px;
}

.photo-4 {

    height: 668px;
    width: 605px;
}

.write-4 {

    height: 668px;
    width: 605px;
}


.write-6 {

    height: 33px;
    width: 605px;
    margin-bottom: 16px;
}

.write-6 h2 {
    font-family: sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.6px;
    color: #666;

}


.training {
    /* border: 2px solid black; */
    height: 96px;
    width: 605px;
    margin-bottom: 24px;

}

.training h1 {
    font-family: sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -.8px;
    color: #262626;
}


.point-7 {
    /* border: 2px solid black; */
    height: 425px;
    width: 605px;
    margin: 10px 0;
    flex-wrap: wrap;
    display: flex;
}


.photo-4 {

    border: 2px solid black;
    height: 610px;
    width: 488px;
}


.footer {
    padding: 60px 10%;
    background-color: #000;
    font-family: sans-serif;
    height: 606.91px;
    padding-top: 120px;

}

.footer-container {
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    line-height: 2;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 150px;
    
}

.footer-column h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ccc;
}

.footer-column a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    transition: color 0.3s;
}

.footer-column a:hover {
    color: #888;
}


.last_footer{
    color:white;
    margin-top: 170px;
    font-size: 13px;
}