* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.top_bar {

    height: 51px;
    width: 1424px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    gap: 600px;
}

.top-in-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.top-in-1 a {
    text-decoration: none;
    font-family: sans-serif;
    color: black;
    font-size: 18px;

}


.lang_bar a {
    text-decoration: none;
    font-family: sans-serif;
    color: black;
    font-size: 18px;

}

.lang_bar {
    display: flex;
    margin-top: 20px;
    gap: 10px;

}


.second_nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
    gap: 100px;
}

.item_bar {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.item_bar a {
    text-decoration: none;
    font-family: sans-serif;
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.logo_nav {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.login_bar {

    height: 51px;
    width: 116px;
    border-radius: 15px 0 15px 0;
    background-color: #F7C602;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}





.login_bar a {
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
}


.upper_bar {
    /* border: 2px solid black; */
    height: 531px;
    width: 1320px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    gap: 50px;
}




.subtitle_bar {

    height: 45px;
    width: 300px;
    border-radius: 20px 0 20px 0;
    background-color: #F7C602;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;

}

.subtitle_bar a {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    font-size: 20px;


}

.big-write {


    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: 900;
    color: black;
    margin-left: 50px;
    margin-top: 40px;

}

.text-write {
    font-family: sans-serif;
    margin-left: 60px;
    margin-top: 20px;
    font-size: 16px;
}

.main-btn {
    display: flex;
    gap: 20px;

}

.btn-1 {
    height: 51px;
    width: 205px;
    border-radius: 20px 0 20px 0;
    background-color: #F7C602;
    margin-top: 40px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn-1 a {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    font-size: 18px;
}

.btn-2 {
    border: 2px solid #F7C602;
    height: 51px;
    width: 215px;
    border-radius: 20px 0 20px 0;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.btn-2 a {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    font-size: 18px;
}

.img-1 {

    border-radius: 50px 0 50px 0;
    box-shadow: 5px 5px 5px;
    box-shadow: 3px 6px 100px #F7C602;
}

.top-part-1 {


    /* border: 2px solid black; */
    height: 542px;
    width: 1320px;
    margin: auto;
    margin-top: 150px;
    background-color: rgba(128, 128, 128, 0);
    display: flex;
    gap: 80px;


}

.img-2 {
    margin-top: 20px;
    margin-left: 20px;
}

.img-3 {
    position: relative;
    bottom: 150px;
    left: 235px;
}

.btn-3 {

    height: 100px;
    width: 260px;
    border-radius: 40px 0 40px 0;
    display: flex;
    position: relative;
    bottom: 350px;
    left: 30px;
    background-color: white;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px gray;
}

.phone_logo {

    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7C60233;
}

.information-1 {
    padding: 20px;
}

.information-1 h4 {

    font-family: sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.information-1 p {

    font-family: sans-serif;
    font-size: 15px;
    margin-top: 5px;

}

.btn-4 {
    height: 103px;
    width: 173px;
    border-radius: 40px 0 40px 0;
    /* display: flex; */
    position: relative;
    bottom: 330px;
    left: 30px;
    background-color: #F7C602;
    justify-content: center;
    align-items: center;
}

.btn-4 h1 {
    font-family: sans-serif;
    font-size: 46px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;


}

.btn-4 p {
    font-family: sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}

.bet-2 {

    height: 518px;
    width: 636px;
    margin-top: 20px;

}

.btn-5 {

    margin: 5px;
    height: 42px;
    width: 127px;
    border-radius: 20px 0 20px 0;
    background-color: #F7C602;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.btn-5 p {
    font-family: sans-serif;
    color: white;
    font-weight: bold;

}

.part-1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 19px;
    margin-left: 20px;
    margin-top: 10px;
}

.part-2 {
    font-family: sans-serif;
    word-spacing: 0.5px;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 2em;
}


.part-3 {
    display: flex;
    align-items: center;
    margin: 10px;
    gap: 10px;
    font-family: sans-serif;
    margin-left: 20px;
    font-size: 16px;
}

.part-4 {
    margin: 20px;
    height: 42px;
    width: 127px;
    border-radius: 20px 0 20px 0;
    background-color: #F7C602;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.part-4 {

    font-family: sans-serif;
    color: white;
    font-weight: bold;
    font-size: 11px;
}


.top-part-2 {

    height: 362px;
    width: 100%;
    background-color: #F7C6020D;
    margin-top: 80px;
    padding-top: 1PX;

}

.part-5 {
    margin: 20px;
    height: 38px;
    width: 223px;
    border-radius: 20px 0 20px 0;
    background-color: #F7C602;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-top: 80px;
    margin-left: 600px;

}


.part-5 h3 {
    font-family: sans-serif;
    color: white;
    border: noene;
    font-size: 16px;

}

.part-6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 19px;
    margin-left: 20px;
    margin-top: 0px;
    text-align: center;
}

.part-7 {
    font-family: sans-serif;
    margin-top: 20px;
    font-size: 15px;
    letter-spacing: 0.4px;
}



.top-part-3 {

    height: 290px;
    width: 100%;
    display: flex;

}

.part-8 {
    margin: 20px;
    height: 38px;
    width: 180px;
    border-radius: 20px 0 20px 0;
    background-color: #F7C602;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-top: 80px;

}

.part-8 h3 {
    font-family: sans-serif;
    color: white;
    border: noene;
    font-size: 16px;

}

.part-9 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 19px;
    margin-left: 100px;

}

.part-10 {

    font-family: sans-serif;
    margin-top: 20px;
    font-size: 15px;
    margin-left: 100px;

}

.part-10 p {
    letter-spacing: 0.4px;
    line-height: 1.4;
}

.top-part-4 {

    height: 600px;
    width: 970px;
    margin: auto;
    display: flex;
    gap: 20px;
    margin-top: 100px;

}

.part-11 {

    height: 600px;
    width: 400px;
}

.part-11 img {
    height: 460px;
    width: 381px;
}

.part-12 {

    height: 600px;
    width: 560px;
}



.part-13 h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 25px;
}

.part-14 p {
    font-family: sans-serif;
    font-size: 14px;
    margin-top: 10px;
    word-spacing: 2px;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.part-15 {

    height: 145px;
    width: 536px;
    display: flex;
    gap: 20px;
    padding-top: 20px;


}

.write-1 {

    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #F7C60233;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.part-16 h2 {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 20px;
    word-spacing: 3px;
    

}

.part-16 p {
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 5px;
    word-spacing: 5px;
    letter-spacing: 0.5px;
    line-height: 1.5;
}


.top-part-5 {
    padding-top: 50px;
    height: 672px;
    width: 100%;
    background-color: #F7C6020D;

}

.part-17 {
    margin: 20px;
    height: 38px;
    width: 180px;
    border-radius: 20px 0 20px 0;
    background-color: #F7C602;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 600px;
    margin-top: 50px;


}

.part-17 {
    font-family: sans-serif;
    color: white;
    font-weight: bold;
}

.write-3 {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.part-18 {
    margin: 20px;
    margin-top: 50px;
    height: 176px;
    width: 280px;
    border-radius: 40px 0 40px 0;
    border: 2px solid #f7c6023e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.part-19 {
    margin: 20px;
    margin-top: 100px;
    height: 176px;
    width: 280px;
    border-radius: 40px 0 40px 0;
    border: 2px solid #f7c6023e;
    background: #F7C6020A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.part-20 {
    margin: 20px;
    margin-top: 50px;
    height: 176px;
    width: 280px;
    border-radius: 40px 0 40px 0;
    border: 2px solid #f7c6023e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.part-21 {
    margin: 20px;
    margin-top: 100px;
    height: 176px;
    width: 280px;
    border-radius: 40px 0 40px 0;
    border: 2px solid #f7c6023e;
    background: #F7C6020A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hy {
    display: flex;

}

.write-4 {
    text-align: center;

}

.write-4 p {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 36px;

}

.write-5 {
    text-align: center;

}

.write-5 p {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 36px;

}

.write-6 {
    text-align: center;

}

.write-6 p {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 36px;

}

.write-7 {
    text-align: center;

}

.write-7 p {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 36px;

}

.part-22 {

    height: 220px;
}


.write-8 {

    height: 38px;
    width: 232px;
    border-radius: 20px 0 20px 0;
    background-color: #F7C602;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 60px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;

}

.write-9 {
    text-align: center;
    margin-top: 10px;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 38px;
}

.write-10 {
    text-align: center;
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    word-spacing: 1.5px;
    letter-spacing: 0.5px;
}


.part-23 {

    height: 580px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;

}

.write-11 {

    height: 580px;
    width: 430px;
    display: grid;
    place-items: center;

}


.write-12 {

    height: 580px;
    width: 420px;
    display: grid;
    place-items: center;
}

.write-13 {

    height: 580px;
    width: 430px;
    display: grid;
    place-items: center;

}

.made-1 {
    border: 1px solid #f7c60264;
    height: 555px;
    width: 416px;
    border-radius: 40px 0px 40px 0px;
    text-align: center;
    background-color: #f7c60216;
    line-height: 2.3rem;
    box-shadow: 4px 2px 3px rgba(0, 0, 0, 0.275);

}

.part-24 {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: sans-serif;
    margin-left: 100px;
    font-size: 14px;

}

.made-1 h1 {
    margin-top: 30px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 35px;

}


.made-1 h3 {
    margin-top: 30px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 25px;
    padding-bottom: 15px;

}

.part-25 {
    height: 56px;
    width: 188px;
    border-radius: 20px 0 20px 0;
    background-color: #F7C602;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
}

.part-25 p {
    font-size: 20px;
}

.made-2 {
    border: 1px solid #f7c60262;
    height: 515px;
    width: 416px;
    border-radius: 40px 0px 40px 0px;
    text-align: center;
    background-color: #f7c60216;
    line-height: 2.3rem;
    box-shadow: 4px 2px 3px rgba(0, 0, 0, 0.275);

}

.made-2 h1 {
    margin-top: 30px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 35px;

}


.made-2 h3 {
    margin-top: 30px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 25px;
    padding-bottom: 15px;

}

.made-3 {
    border: 1px solid #f7c60265;
    height: 603px;
    width: 416px;
    border-radius: 40px 0px 40px 0px;
    text-align: center;
    background-color: #f7c60216;
    line-height: 2.4rem;
    box-shadow: 4px 2px 3px rgba(0, 0, 0, 0.275);

}

.made-3 h1 {
    margin-top: 30px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 35px;
}


.made-3 h3 {
    margin-top: 30px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 25px;
    padding-bottom: 15px;

}

.part-26 {

    margin-top: 100px;
    height: 422px;
    width: 100%;
    background-color: #F7C6020D;
    padding-top: 30px;

}

.write-14 {
    background-color: #f7c602;
    height: 38px;
    width: 135px;
    border-radius: 20px 0px 20px 0px;
    margin-top: 50px;
    margin-left: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.write-14 p {
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.write-15 {
    margin-top: 20px;
    margin-left: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.write-16 {
    margin-top: 20px;
    margin-left: 80px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5rem;
    word-spacing: 0.5px;
}

.part-27 {
    border: 2px solid #f7c60200;
    background-color: #F7C6020D;
    height: 302px;
    text-align: center;


}

.write-17 {
    background-color: #f7c602;
    height: 38px;
    width: 153px;
    border-radius: 20px 0px 20px 0px;
    margin-left: 620px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.write-17 p {
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.4px;

}

.write-28 {
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 20px;
}


.write-29 {
    margin-top: 20px;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 0.2px;
}

.part-29 {
  
    height: 530px;
    width: 1320px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 70px;
}


.write-30 {
   
    height: 316px;
    width: 746px;
}

.made-4 {
    background-color: #f7c602;
    height: 38px;
    width: 153px;
    border-radius: 20px 0px 20px 0px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.made-4 p {
    font-family: sans-serif;
    color: white;
    font-weight: 700;

}

.write-31 {
    
    height: 369px;
    width: 746px;
}

.made-5 {
    margin-left: 50px;
    margin-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;

}

.made-6 {
    margin-left: 50px;
    margin-top: 20px;
    font-family: sans-serif;
    font-weight: 500;
    letter-spacing: 0.2px;

}

.made-7 {
  
    height: 60px;
    width: 585px;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 70px;
    background-color: #F7C6020D;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
}

.made-8 {
    font-family: sans-serif;
    color: rgba(128, 128, 128, 0.743);
    font-size: 15px;
    margin-left: 20px;
}

.made-9 {
    height: 60px;
    width: 62px;
    background-color: #F7C602;
    border-radius: 0px 10px 10px 0px;
    margin-left:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}




.footer {
  background: linear-gradient(45deg, #fcd203eb, #f6c80eb3);
  color: #fff;
  padding: 50px 70px;
  position: relative;
  font-family: sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1.5fr;
  gap: 40px;
}

.footer-about p {
  margin: 15px 0;
  color: #fff;
  line-height: 1.6;
}

.contact-info li {
  list-style: none;
  margin: 10px 0;
}

.footer-links h3,
.newsletter h3 {
  margin-bottom: 15px;
  color: #fff;
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  display: inline-block;
  padding-bottom: 5px;
}

.footer-links ul {
  list-style: none;
}

.footer-links ul li {
  margin: 8px 0;
}

.footer-links ul li a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

.footer-links ul li a:hover {
  color: #222;
}

.newsletter p {
  margin-bottom: 15px;
}

.newsletter form {
  display: flex;
}

.newsletter input {
  padding: 10px;
  border: none;
  outline: none;
  flex: 1;
  border-radius: 5px 0 0 5px;
}

.newsletter button {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  transition: 0.3s;
}

.newsletter button:hover {
  background-color: #000;
  color: #fff;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
}

.social-icons img {
  width: 25px;
  height: 25px;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 40px;
}
