* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.logo_bar {

    background-image: url("https://res.cloudinary.com/dv7bazp5k/image/upload/v1762761963/imgi_2_Desktop_launches_fa37a114ad_feup4u.jpg");
    height: 676px;
    width: 1425px;
    display: flex;
    gap: 35px;
    flex-wrap: wrap;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 00px 50px 100px black;
}

.nav_bar {
    margin-top: 40px;
}

.nav_bar a {
    text-decoration: none;
    color: #F0F0FAE6;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.upcoming {
    border: 0.5px solid rgba(255, 255, 255, 0.393);
    height: 33px;
    width: 264px;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    color: #F0F0FAE6;
}

.upcoming p {
    color: #F0F0FAE6;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: 600;
}

.make_bar {
    color: white;
    font-family: sans-serif;
    margin-top: 300px;
    margin-left: 70px;

}

.make_bar h1 {
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 700;

}



.explore {
    border: 0.5px solid rgba(255, 255, 255, 0.548);
    height: 50px;
    width: 116px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.527);
}

.explore:hover {
    background-color: white;
    color: black;
    gap: 1px;
}

.explore:hover .arrow1 {
    color: black;
    filter: invert(1.5);
    transition: transform 0.7s ease;
    transform: translateX(15px);

}

.explore svg:hover {
    stroke: #000;
}

.explore p {

    font-size: 10px;
}


body {
    background-color: #000;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;


}

.launches {
    max-width: 1300px;
    margin: 70px auto;
    padding: 0 20px;

}

.launches h1 {
    font-size: 3.5rem;
    font-weight: 900;
    letter-spacing: 2px;
    color: #f1f1f1;
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.95rem;
    line-height: 3rem;

}

th,
td {
    text-align: left;
    padding: 14px 10px;
    border-bottom: 1px solid #333;

}

th {
    font-weight: 600;
    color: #dbd9d9;
    font-size: 0.9rem;
}

td {
    color: #ddd;
    letter-spacing: 0.5px;

}

tr:hover td {
    background-color: rgba(255, 255, 255, 0.05);
    transition: 0.3s ease;
}

.logo2_bar {
    background-image: url("https://www.spacex.com/assets/images/launch-sites/launch_site_starbase_d.jpg");
    height: px;
    width: 1425px;
    background-position: center;
    padding-top: 100px;
    font-family: sans-serif;
}


.logo2_bar p {
    font-size: 12px;
    color: #F0F0FAE6;
    padding-left: 70px;
}

.logo2_bar h1 {
    font-size: 45px;
    color: #f5f5f7e6;
    margin-top: 10px;
    padding-left: 70px;
}

.logo2_bar h5 {
    font-size: 15px;
    color: #dfdff4e6;
    margin-top: 35px;
    font-weight: 300;
    padding-left: 70px;
}


.logo2_bar h6 {
    font-size: 12px;
    color: #e9e9f1e6;
    margin-top: 20px;
    font-weight: 300;
    word-spacing: 1px;
    letter-spacing: .5px;
    line-height: 1.5rem;
    padding-left: 70px;

}


.footer_bar {

    gap: 20px;
    margin-top: 635px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    height: 60px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.858);


}

.footer_bar a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-family: sans-serif;
    text-align: center;
}