* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.logo_bar {

    background-image: url("https://res.cloudinary.com/dv7bazp5k/image/upload/v1762362146/imgi_11_Mars_Web_8fafe15a48_prnnac.jpg");
    height: 1080px;
    width: 100%;
    display: flex;
    gap: 35px;
    flex-wrap: wrap;
    background-position: center;
    background-repeat: no-repeat;

}

.nav_bar {
    margin-top: 35px;
}

.nav_bar a {
    text-decoration: none;
    color: #F0F0FAE6;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.upcoming {
    border: 0.5px solid rgba(255, 255, 255, 0.393);
    height: 33px;
    width: 264px;
    margin-top: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    color: #F0F0FAE6;
}

.upcoming p {
    color: #F0F0FAE6;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: 600;
}

.make_bar {
    color: white;
    font-family: sans-serif;
    margin-left: 100px;
    margin-bottom: 50px;

}

.make_bar h1 {
    margin-bottom: 20px;
    font-size: 45px;
    font-weight: 700;

}

.make_bar p {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    word-spacing: 1px;
    letter-spacing: 0.3px;
    line-height: 1.5rem;


}

.explore {
    border: 0.5px solid rgba(255, 255, 255, 0.548);
    height: 50px;
    width: 116px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.explore:hover {
    background-color: white;
    color: black;
    
}

.explore:hover .arrow1 {
    color: #000;
    filter: invert(2);
    transition: transform 0.7s ease;
    transform: translateX(10px);
}

.explore p {
    margin-top: 20px;
    font-size: 10px;
}

.img1_bar {

    height: 1400px;
    width: 100%;
    backdrop-filter: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://res.cloudinary.com/dv7bazp5k/image/upload/v1762360787/imgi_5_imgi_3_Revolutionizing_Space_Tech_Desktop_ec67ad03c2_uwpx8i_rzfobq.jpg");
}


.Revolutionizing {
    padding-top: 180px;
    margin-left: 650px;
    color: white;
    font-family: sans-serif;

}


.Revolutionizing h1 {

    font-size: 45px;
    font-weight: 700;
    padding-bottom: 15px;
}



.Revolutionizing p {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    word-spacing: 1px;
    letter-spacing: 0.3px;
    line-height: 1.3rem;

}


.lern_more {
    border: 0.5px solid rgba(255, 255, 255, 0.548);
    height: 50px;
    width: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(1, 1, 1, 0.546);
}


.lern_more p {
    margin-top: 20px;
    font-size: 10px;

}

.lern_more:hover {
    background-color: white;
    color: black;
    gap: 0.5px;

}
.lern_more:hover .arrow2 {
    color: #000;
    filter: invert(2);
    transition: transform 0.7s ease;
    transform: translateX(15px);
}


.img2_bar {

    height: 1400px;
    width: 100%;
    backdrop-filter: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://res.cloudinary.com/dv7bazp5k/image/upload/v1762418955/imgi_12_Leading_Launch_Service_Desktop_06a98ac534_cwkjph.jpg");
}


.world {
    padding-top: 100px;
    margin-left: 100px;
    color: white;
    font-family: sans-serif;
}


.world h1 {

    font-size: 45px;
    font-weight: 700;
    padding-bottom: 15px;
}


.world p {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    word-spacing: 1px;
    letter-spacing: 0.8px;
    line-height: 1.3rem;

}

.reserve_your_ride {
    border: 0.5px solid rgba(255, 255, 255, 0.548);
    height: 50px;
    width: 172px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.546);
}




.reserve_your_ride p {
    margin-top: 18px;
    font-size: 10px;

}

.reserve_your_ride:hover {
    background-color: white;
    color: black;
    gap: 0.5px;

}
.reserve_your_ride:hover .arrow3 {
    color: #000;
    filter: invert(2);
    transition: transform 0.7s ease;
    transform: translateX(12px);
}

.img3_bar {
    height: 1400px;
    width: 100%;
    backdrop-filter: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://res.cloudinary.com/dv7bazp5k/image/upload/v1762420385/imgi_4_Advancing_Human_Spaceflight_Desktop_61c8ba1c67_d23m5f.jpg");
}

.advancing {
    padding-top: 100px;
    margin-left: 600px;
    color: white;
    font-family: sans-serif;
}


.advancing h1 {
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 15px;
}

.advancing p {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    word-spacing: 1px;
    letter-spacing: 0.8px;
    line-height: 1.3rem;

}

.join_mission {
    border: 0.5px solid rgba(255, 255, 255, 0.548);
    height: 50px;
    width: 172px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}


.join_mission p {
    margin-top: 20px;
    font-size: 10px;

}

.join_mission:hover {
    background-color: white;
    color: black;
    gap: 0.5px;

}
.join_mission:hover .arrow4 {
    color: #000;
    filter: invert(2);
    transition: transform 0.7s ease;
    transform: translateX(20px);
}



/* --------------------------------- */


.img4_bar {
    height: 1400px;
    width: 100%;
    backdrop-filter: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://res.cloudinary.com/dv7bazp5k/image/upload/v1762421898/imgi_13_Delivering_Highspeed_Desktop_d50314640c_oo5odg.jpg");
}

.delivering {
    padding-top: 400px;
    margin-left: 200px;
    color: white;
    font-family: sans-serif;
}


.delivering h1 {
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 15px;
}

.delivering p {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    word-spacing: 1px;
    letter-spacing: 0.8px;
    line-height: 1.5rem;

}

.oreder_now {
    border: 0.5px solid rgba(255, 255, 255, 0.548);
    height: 50px;
    width: 132px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}



.oreder_now p {
    margin-top: 20px;
    font-size: 10px;

}

.oreder_now:hover {
    background-color: white;
    color: black;
    gap: 0.5px;

}
.oreder_now:hover .arrow5 {
    color: #000;
    filter: invert(2);
    transition: transform 0.7s ease;
    transform: translateX(15px);
}

.footer_bar {
    display: flex;
    gap: 20px;
    margin-top: 635px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    height: 60px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.858);


}

.footer_bar a {
    text-decoration: none;
    color: white;
    font-size: 11px;
    font-family: sans-serif;
    text-align: center;
}